.home2 {
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #f0f0f0;
}

.burger-menu {
  position: relative;
}

.burger-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: #333;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger-icon .bar {
  width: 100%;
  height: 3px;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.burger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.burger-menu-content {
  position: absolute;
  top: 55px;
  left: 20px;
  background-color: #121212;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  padding: 20px;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #0044cc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form select,
form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
}

form textarea {
  height: 100px;
}

form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}

.posts-container {
  margin: 20px auto;
  max-width: 800px;
}

.posts-header h2 {
  text-align: center;
}

.posts-list .post {
  background: #0056b3;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.posts-list .post p {
  margin: 5px 0;
}

.posts-list .post button {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.posts-list .post button:hover {
  background-color: #45a049;
}
