body{
    background-color: #f0f0f0;
}

.mt-5 {
    margin-top: 3rem;

  }
.centered {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 70vh; /* Set height to 70% of the viewport height */
  margin-top: 5vh; /* Add margin on the top */
  margin-bottom: 5vh; /* Add margin on the bottom */


}

.transportation-form {
    background-color: #0044cc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300%; /* Set a width */

    margin: auto;
  }
  
  .transportation-form .form-group {
    margin-bottom: 1rem;
  }
  
  .transportation-form .form-label {
    color: #f0f0f0;
    margin-bottom: 0.5rem;
  }
  
  .transportation-form .form-control,
  .transportation-form .form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
  }
  
  .transportation-form .form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
  }
  
  .transportation-form .btn-primary {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    margin-top: 1rem;
    margin-left: -1px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .transportation-form .btn-primary:hover {
    background-color: #45a049;
  }
  