.home1 {
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.burger-menu {
  position: relative;
}

.burger-icon {
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.burger-icon .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #f0f0f0;
}

.burger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burger-menu-content {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.burger-menu-content button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.donation-posts-heading {
  text-align: center;
  margin: 20px 0;
}

.category-dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.category-select {
  padding: 10px;
  border-radius: 5px;
  background-color: #b9b9d3;
  color: #000000;
  border: none;
}

.donation-list {
  list-style: none;
  padding: 0;
}

.donation-list-item {
  background: #b9b9d3;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

.donation-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation-details {
  margin-top: 10px;
}

.donation-details input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;

  color: #000000;
}

.donation-details button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.no-posts-message {
  text-align: center;
  margin-top: 20px;
}
