.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #f0f0f0;
}

.sidebar {
  width: 250px;
  background-color: #1c1c1c;
  padding: 20px;
}

.menu-item {
  display: block;
  padding: 10px;
  color: #f0f0f0;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header h1 {
  margin-bottom: 20px;
}

.welcome-message h2 {
  margin-bottom: 10px;
}

.welcome-message p {
  margin-bottom: 20px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

@keyframes glowing {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.welcome-message {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: glowing 5s ease-in-out infinite;
  color: white; /* Change the text color to white for better visibility */
  padding: 20px; /* Add some padding for better appearance */
  border-radius: 10px; /* Add some border radius to make it look like a banner */
}