.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #000000;
    color: #f0f0f0;
  }

  .text-center {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }
.dark-theme-form {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  background-color: #0044cc;
}
  .form-control,
  .input-group,
  .form-select,
  .btn {

    color: #000000;
    border: none;
    border-radius: 4px;
  }

  .form-control:focus,
  .input-group:focus,
  .form-select:focus {
    box-shadow: #007bff;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  .table {
    color: #f0f0f0;
    border-color: #333;
  }

  .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .alert {
    margin-top: 1rem;
    background-color: rgba(255, 0, 0, 0.1);
    color: #f0f0f0;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  .table .btn {
    margin-right: 5px;
  }

  .input-group,
  .form-select {
    margin: 20px;  }

.g-2 {
  color: #000000; /* Set the text color to black */
}

.drop-down-menu {
  color: #000000; /* Set the text color to black */
}